@model ReviewCounter.Models.Review

@{
    ViewData["Title"] = "Index";
}

<h2>Record Review</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Project" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Project"
                        asp-items="@(new SelectList((List<ReviewCounter.Models.Project>)ViewData["Projects"],"ProjectId","Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
        </div>
        <h4>Version</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Version" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Version"
                        asp-items="@(new SelectList((List<ReviewCounter.Models.Release>)ViewData["Versions"],"ReleaseId","Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
        </div>
        <h4>Ticket</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ticket" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ticket" class="form-control" />
                <span asp-validation-for="Ticket" class="text-danger"></span>
            </div>
        </div>
        <h4>Output</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Output" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Output"
                        asp-items="@(new SelectList((List<ReviewCounter.Models.Output>)ViewData["Outputs"],"OutputId","ProcessOutput"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Output" class="text-danger"></span>
            </div>
        </div>
        <h4>Author</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Author" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Author"
                        asp-items="@(new SelectList((List<ReviewCounter.Models.Member>)ViewData["Members"],"MemberId","Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
